* {
    background-color: white;
}
body{
    display: block;
}
 img {
    width: 7em;
    margin: 30px;
    border: solid 5px;
    padding: 3em;
    background-color: white;\

}

.hover:hover {
border-radius: 45%;
}
.active:active {
opacity: .25;
}
.focus:focus {
    filter: grayscale(100%);
}

.bar {
    padding: 1em;
    background-color: grey;
    position: relative;
    top: 50px
}
.square, .other {
    height: 30px;
    width: 30px;
    background-color: blue;
    position: relative;
    right: 10px;


}
.other:focus {
    animation-name: move;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;


}
.square:active {
    animation-name: rotation;
    background-color: red;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}


@keyframes rotation {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}
@keyframes move {
    from {left:0px;}
    to {left: 1800px;}
}
