body{
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Open Sans', sans-serif;
}
.fixed {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  background: white;
  z-index: 1;
  display: none;
  opacity: 1;
  filter:drop-shadow(8px 8px 5px gray);
}
.fixed div, .fixed li {
  color: black;
}
.fixed .nav_display {
  border-bottom: black solid 2px;
  /* padding-bottom: 12px; */
}
.fixed img {
  filter: none;
}


.nav_display{
  padding-bottom: 12px;
  border-bottom: white solid 2px;
}



header, .abs {
  width: 100%;
  height: 50px;
  grid-area: header;


  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 15pt;
  letter-spacing: 2px;
  color: white;
  display: grid;
  grid-template-areas:
    'title navi navi';
}

nav{

  grid-area: navi;
  text-align: right;
  padding-right: 20px;

}

nav div {
  display: none;
}

nav img, .slide_close {
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 2px;
  padding-bottom: 10px;
  grid-area: navi;
  height: 40px;
  filter: invert(100%);


}

.title {
  grid-area: title;

  color: white;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;


}


.banner {
  height: 30vh;
  width: 100vw;
  min-height: 18em;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  background-image: url("../images/headers/header_home_page.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: grid;

  grid-template-areas:
  'header header header'
  'empty1 empty1 empty1'
  'profile profile profile'
  'empty2 empty2 empty2';


}
.port {
  background-image: url("../images/headers/header_projects.jpeg");

}
.prof {
  background-image: url("../images/headers/header_profile.jpeg");

}

.banner a {
  color: white;
  text-decoration: none;
}


#profile_pic {
  grid-area: profile;
  margin: auto auto 5px;
  border: solid rgb(220,220,220,.1) 10px;
  display: block;
  height: 200px;

  border-radius: 50%;
}
.social_links{
  display: none;
}

.quote{
  display: none;
}


.empty1{
  grid-area: empty1;

}
.empty2{
  grid-area: empty2;

}



.main_content h2 {
  text-align: center;
  border-bottom: solid black 1px;
  border-top: solid black 1px;
  padding: 20px;
}


.skills_icons {
  background: linear-gradient(-90deg,#83a4d4, #b6fbff);
  text-align: center;
  font-family: "Futura", sans-serif;
  font-size: 25px;
}


.project_box{
  text-align: center;
  margin: 0;

}

.project_box a {

}


.project_img {
  text-align: center;
  margin: auto;
  position: relative;

  width: 325px;
  height: 13em;
}

.project_img img {
  display: inline;

  margin: auto;
  width: 325px;
  height: 13em;
  opacity: 1;
  object-fit:cover;
  overflow: hidden;
  transition: .5 ease;
  backface-visibility: hidden;
}

.collage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}


.collage img {
  max-width: 100%;
  height: 7em;
  object-fit: cover;
  box-sizing: border-box;
}


.fig {
  padding-top: 30px;
  display: inline;
  box-sizing: border-box;
  width: 329px;
  height: 212px;
  background-color: rgba(26,26,26,.7);
  color: white;
  position: relative;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {

  border: dashed green 2px;
  padding: 0 20px;


}

.project_img:hover img {
  opacity: 0.3;
}
.project_img:hover .fig {
  opacity: 1;
}

.project_img:after{
  content: "";
  height: 100%;
  left: 0px;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  z-index: 1;
}
.project_img:hover:after{ width: 70%; }
.project_img:after{ background: linear-gradient(-90deg,#83a4d4, #b6fbff); z-index: -1;}


.skl {display: none;}
.skl img{
height: 64px;

}
.skill-1, .skill-3, .skill-4{
  display: block;
}




footer{
  background-color: rgba(26,26,26,.7);
}
.social_footer{
  margin: auto;
  text-align: center;
  display: block;
  border: blue solid 2px;
  padding: 32px;
}
.social_footer img{
  height: 40px;
  filter: invert(100%);
}

.social_footer img:hover{
  background-color: white;
  border-radius: 50%;
}

.empty3 {
  padding: 64px 32px;
  background-color: rgba(26,26,26,.7);
  text-align: left;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.slide {
  height: 288px;
  width: 200px;

  position: absolute;
  right: 0;
  background: darkgray;
  display: none;
}
.slide li{
  list-style: none;
  line-height: 80px;
  margin-left: -25px;
}

.slide_close{
  position: absolute;
  left: 60%;
}

#menu:active, .slide li:active, .slide_close:active{
  opacity: .5;

}
