.port, .prof {
  grid-template-areas:
  'header header header'
  'empty1 empty1 empty1'
  'quote quote quote'
  'profile social social'
  'empty2 empty2 empty2';

}
.proj_text {
  margin-bottom: 60px;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: solid black 1px;
}


.port #profile_pic, .prof #profile_pic {
  display: none;
}
.port .social_links, .prof .social_links {
  display: none;
}
.quote{
  display: block;
  grid-area: quote;


  font-style: italic;
  letter-spacing: 1.12px;
  line-height: 40px;
  font-weight: 400;
  font-family: thin sans-serif;
  padding: 0 25px 0;
  margin: auto 10px auto;
  color: rgb(255, 255, 255);
  font-size: 40px;
  background-color: transparent;
  text-align: center;
}

.portfolio{
  display: block;
}

.fig{
  width: 450px;
  height: 17em;
}


.project_img, .project_img img{
  width: 450px;
  height: 17em;
}
p{
  display: none;
}


.project_box h4{
font-size: 20pt;
}


@media only screen and (min-width: 650px){

p{
  display: block;
}
.portfolio{
  grid-template-columns: 1fr;
}





}


@media only screen and (min-width: 900px){
.portfolio{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project_box{
  grid-column: 1;
  margin-bottom: 60px;

}
.proj_text{
  grid-column: 2;
  margin-top: 30px;

}

.proj2{
  grid-row: 2;
}
.proj3 {

  grid-row: 3;
}
.proj4 {
  grid-row: 4;
}

/* .proj_text {
  border-bottom: none;
} */


}
