.port, .prof, .cont {
  grid-template-areas:
  'header header header'
  'empty1 empty1 empty1'
  'quote quote quote'
  'profile social social'
  'empty2 empty2 empty2';

}
.proj_text {
  margin-bottom: 60px;
  padding-bottom: 60px;
  /* padding-left: 30px;
  padding-right: 30px; */
  border-bottom: solid black 1px;
}

div .proj5_text{
  margin-bottom: 0;
  border-bottom: none;
}


.proj_text h3{
  color: rgba(26,26,26,0.9);
}

.ed_text h4 {
  color: rgba(26,26,26,0.9);
  position: static;
  font-size: 14pt;
  font-weight: 400;
  display: none;
}
.ed_text h5{
  color: rgba(26,26,26,0.9);
  font-size: 14pt;
  padding: 15px;
  font-weight: bold;
}


.ed_box h3{
  font-weight: 800;
  font-size: 16pt;
}

.project_box.proj_text.ed_text h4 {
  font-size: 15pt;
}

.ed_box img{
  border-radius: 0;
}

.project_box{
margin-bottom: 20px;
}

.port #profile_pic, .prof #profile_pic, .cont #profile_pic {
  display: none;
}
.port .social_links, .prof .social_links, .cont .social_links {
  display: none;
}
.quote{
  display: block;
  grid-area: quote;


  font-style: italic;
  letter-spacing: 1.12px;
  line-height: 40px;
  font-weight: 400;
  font-family: thin sans-serif;
  padding: 0 25px 0;
  margin: auto 10px auto;
  color: rgb(255, 255, 255);
  font-size: 40px;
  background-color: transparent;
  text-align: center;
}

.portfolio{
  display: block;
}

.fig{
  width: 100%;
  max-width: 450px;
  min-width: 320px;
  height: 17em;
}



p {
  display: none;
  line-height: 1.6em;
}
.ed_text p {
  text-align: center;
}

.project_img, .project_img img{
  width: 100%;
  max-width: 450px;
  min-width: 320px;
  height: 17em;
}
.project_box h4, .project_box h3{
font-size: 20pt;
}

.h3t {
  font-size: 15pt;
  margin-bottom: 20px;
  color: #99633d;
}

.method{
  height: 70px;
  padding: 20px;
}


.mbtext{
  display: block;
  font-size: 14pt;
  color: #0b1b19;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;

}

.method_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
.project_img{
  overflow: hidden;
}
.project_img img, .project_img h4 {
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .25s ease-in-out;
	transition: .25s ease-in-out;

}

.project_img:hover img, .project_img:hover h4 {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  right: 25px;
  bottom: 7px;
}

.project_img:after{ background: none;}


.main_content .needs_padding{
  margin-bottom: 50px;

}

@media only screen and (min-width: 650px){


  .project_img, .project_img img{
    width: 450px;
    height: 17em;
  }



.method_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  padding-right: 20px;
  padding-left: 20px;
}


p {
  display: block;
  font-size: 12pt;
  padding: 20px 40px;
  text-align: justify;

}
.portfolio{
  grid-template-columns: 1fr;
}


}


@media only screen and (min-width: 900px){

.ed_text h4 {
  display: block;
}

.portfolio{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project_box{
  grid-column: 1;
  margin-bottom: 60px;

}
.proj_text{
  grid-column: 2;


}

.proj2{
  grid-row: 2;
}
.proj3 {

  grid-row: 3;
}
.proj4 {
  grid-row: 4;
}


.method_grid{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}


}


@media only screen and (min-width: 1080px){


.method_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    padding-right: 20px;
  }


}
